<div class="container">
	<h3 class="mt-3">Add Expense</h3>
	<hr>

	<div class="form-wrapper">
		<form [formGroup]="passwordForm" (ngSubmit)="updatePassword(passwordForm.value)" novalidate autocomplete="off">
			<div class="form-group row">
				<label for="oldpassword" class="col-sm-2 col-form-label">Existing Password</label>
				<div class="input-group col-sm-10">
					<div class="input-group-prepend">
						<div class="input-group-text"><i class="fas fa-lock"></i></div>
					</div>
					<input type="password" class="form-control" [ngClass]="{'is-invalid': passwordForm.get('oldpassword').touched && passwordForm.get('oldpassword').errors?.required}" id="oldpassword" [formControl]="oldpassword" placeholder="Enter password" maxlength="16">
					<div class="invalid-feedback" *ngIf="passwordForm.get('oldpassword').touched && passwordForm.get('oldpassword').errors?.required">
						Please enter existing password
					</div>
				</div>
			</div>
			<div formGroupName="passwordGroup">
				<div class="form-group row">
					<label for="password" class="col-sm-2 col-form-label">New Password</label>
					<div class="input-group col-sm-10">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-asterisk"></i></div>
						</div>
						<input type="password" class="form-control" [ngClass]="{'is-invalid': passwordForm.get('passwordGroup.password').touched && (passwordForm.get('passwordGroup.password').invalid || passwordForm.get('passwordGroup.password').errors)}" [formControl]="password" id="password" placeholder="Enter password" maxlength="16">
						<div class="invalid-feedback" *ngIf="passwordForm.get('passwordGroup.password').invalid || passwordForm.get('passwordGroup.password').errors">
							<span *ngIf="passwordForm.get('passwordGroup.password').errors.required">
								Please enter password
							</span>
							<span *ngIf="passwordForm.get('passwordGroup.password').errors.pattern">
								Password must contain one letter, number and a special character
							</span>
						</div>
					</div>
				</div>
				<div class="form-group row">
					<label for="retypepass" class="col-sm-2 col-form-label">Retype Password</label>
					<div class="input-group col-sm-10">
						<div class="input-group-prepend">
							<div class="input-group-text"><i class="fas fa-asterisk"></i></div>
						</div>
						<input type="password" class="form-control" [ngClass]="{'is-invalid': (passwordForm.get('passwordGroup.retypepass').touched || passwordForm.get('passwordGroup.retypepass').dirty) && (passwordForm.get('passwordGroup.retypepass').errors || passwordForm.get('passwordGroup').errors)}" [formControl]="retypepass" id="retypepass" placeholder="Confirm password" maxlength="16">
						<div class="invalid-feedback" *ngIf="(passwordForm.get('passwordGroup.retypepass').touched || passwordForm.get('passwordGroup.retypepass').dirty) && (passwordForm.get('passwordGroup.retypepass').errors || passwordForm.get('passwordGroup').errors)">
							<span *ngIf="passwordForm.get('passwordGroup.retypepass').value === '' && passwordForm.get('passwordGroup.retypepass').errors?.required">
								Please confirm your password
							</span>
							<span *ngIf="passwordForm.get('passwordGroup.retypepass').value !== '' && passwordForm.get('passwordGroup').errors?.mismatchedPassword">
								Password do not match
							</span>
						</div>
					</div>
				</div>
			</div>
			<div class="form-group row">
				<label class="col-sm-2 col-form-label"></label>
				<div class="col-sm-10">
					<button type="submit" class="btn btn-primary" [disabled]="passwordForm.invalid">Update</button> &nbsp;
					<button type="reset" class="btn btn-secondary">Cancel</button>
				</div>
			</div>
		</form>
	</div>
</div>
